# Ignore Latex output 
*.aux
*.fdb_latexmk
*.fls
*.out
*.log
*.synctex.gz
*.synctex(busy)
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.nav
*.snm
*.pdf
*.ent
*.tdo
*.lof
*.lot
*.tmp
~$*

# Ignore the official documents that can be found online which I saved locally on my hard drive...
coding_construction/*/official_documents
# ... but not the historical documents which ar no available online but were sent to me by authorities
!historical_documents/**

# Keep the paper and the Brown Bag PDFs
!paper/paper.pdf
!presentations/brown_bag/brown_bag.pdf

# Ignore output .png files
data_work/*/output*
data_work/analysis/output_lps/**

# Ignore output .dta files
*final_dataset.dta
*reserve_requirements.dta

# Ignore the output of the python text search script
scripts/output.csv

# Ignore the folder called __pycache__
__pycache__/

# Ignore the vscode folder
.vscode

# Ignore Mac system files
.DS_store